// fonts
$PTSans: 'PT Sans', sans-serif;
$OpenSans:  'Open Sans', sans-serif;
$MuseoSans:  'Museo Sans', sans-serif;
$Helvetica:  'Helvetica', sans-serif;
$HelveticaNeue:  'Helvetica', sans-serif;
$TwCenMTforKenmore:  'TwCenMTKenmore', sans-serif;

//colors
$black: #333;
$white: #fff;
$ft-blue: #243878;
$cerulean: #008ecb;
$cool-grey: #a1a3a5;
$ft-whiteblue: #5B91C0;
$ft-gray: #706F6F;
$ft-lightgray: #BAB8B7;
$ft-darkgray: #767371;
$ft-dark: #1D1D1B;
$charcoal-grey: #394143;
$warm-grey: #999;
$white-three: #f9f9f9;
$brownish-grey: #666;
$warm-grey-two: #979797;
$white-four: #f5f5f5;
$rosy-pink: #ee5665;
$white-four: #f5f5f5;
$white-five: #d3d3d3;
$white-six: #ededed;


$html-base-font-size: 62.5%; // make sure to set the html base font size!

//height
$headerHeight: 92px;
$headerHeight-l : 44px;

//width
$headerWidth: 916px;
$containerWidth: 1200px;

$m: 36em;
$l: 57em;