doctype html
html
    head
        meta(charset = 'utf-8')
        meta(name='viewport', content="initial-scale=1.0, width=device-width")
        title
            block title
    body
      #wrapper
        #page-overlay
        ul#mob-menu
          each val in ['benefits','claims', 'appliance repair', 'faqs']
            li.header-nav__item.dropdown-menu
              a(href='#')= val
        //header
        include header
        main
          block main
        //footer
        include footer